extends views_layout

block content
    #title
        h1 Team Match
        h2 Tool to find companion for hackaton
        
    .content
        p
            | Idea for Team Match came in the beginning of devhack #1.
            | It was apparent that those who didn't have coding partners,
            | really struggled to find one.
        p
            | Team Match wants to give flexible opportunity for everyone,
            | regardless of their prior knowledge in hackatons,
            | a fair chance to find coding partner.
        
        .content    
            figure(class='figure mx-auto d-block')
                img(
                    src='https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=640',
                    class='figure-img img-fluid rounded mx-auto d-block')
                figcaption(class='figure-caption text-center') Photo by Annie Spratt on Unsplash
        
            a(href='/browse', class='btn btn-primary btn-lg btn-block', role='button', aria-pressed='true') Try Team Match yourself!